body {
    background-color: rgba(90, 204, 80, 0.664);
}
#barraNavegacao {
    background-color:  rgb(74, 241, 68);
} 
h1 {
    font-family: Cambria,Cochin, Georgia;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
   
    }
    p{
        font-family: 'Courier New', Courier, monospace;
        font-size: 12;
        color: #0f0c0c;
      
        }
        hr {
            border: 1px solid;
            border-color: #808080;
            width: 250px;
        }
    


table {

    border: 2px solid;
}
tr, td {
    border: 1px solid;
    width: 200px;
    text-align: center;
}
#cabecalho{
    background-color: aqua;
    font-weight: bolder;
}
img {
    width: 50%;
    height: 50%;
}
img:hover {
    width: 100%;
    height: 100%;
}
body:active{
    background-color: aquamarine;
}
.menu {  
        display: inline-block;
   
    
}
.menu a{
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
    width:auto;
    border: 1px solid;
}
li a:hover{
    background-color: beige;
    color: burlywood;
}

 